.banner-image {
    background-image: url('https://assets.gq.ru/photos/5d9f47da7fd1f9000820ed26/master/pass/GettyImages-461373553.jpg');
    background-size: cover;
    height: 100%;
  }

  body {
    background: #2a2e32;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;
  }
  
  
  /* ==========================================
      CUSTOM UTILS CLASSES
    ========================================== */
    body, html {
      height: 100%;
    }
    .fas{
      font-size: 32px;
  }
  .collection span{
      color: rgb(0, 0, 0);
      font-size: 19px;
      font-weight: 800;
      padding-left: 5px;
  }
  .card{
      border: none;
  }
  .collection input{
      position: absolute;
      height: 45px;
      width: 110px;
      background-color: rgb(202, 206, 194);
      color: white;
      border-radius: 5px;
      outline: none;
      border: none;
      text-align: center;
      top: 40%;
      left: 30%;
      opacity: 0;
  }
  .collection .card:hover input{
      opacity: 1;
      transition: 1s;
  }
  .collection input:hover{
      background-color: gray;
  }
  .text-center{
    color: white;
  }
  .maintext{
   
    width: 100%;
  
  }
  h3{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Rock 3D', cursive;
    font-family: 'Vujahday Script', cursive;
  padding: 80px 50px;
  text-align: center;
  line-height: 50px;
  word-spacing: 40px;
text-transform: uppercase;

  }
  .div2{
display: flex;
  }
  .div2 h3{
    text-transform: lowercase;
    font-family:sans-serif;

  }


.carousel-inner{
height: 550px;
}
.carousel-caption h5{
    font-size: 70px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.carousel-caption p{
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.carousel-control-prev{
  height: 500px;
}

.btn{
    background-color: red;
    height: 45px;
    width: 150px;
    color: white;
    outline: none;
    border: none;
}
.btn:hover{
    background-color: white;
    color: red;
    transition: 0.4s;

}

.parallex{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), no-repeat center/80% url("https://i2-prod.somersetlive.co.uk/news/somerset-news/article2316335.ece/ALTERNATES/s615/2_GettyImages-835239246.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
}
.parallex H1{
  font-size: 55px;
  font-weight: 700;
 


}
.parallex p{
  font-size: 22px;
}
.btn4{
    height: 40px;
    width: 110px;
    background: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
    border-radius: 4px;
}
.btn4:hover{
    background-color:white;
    color: yellowgreen;
    transition: 0.3s;
    border: none;
}
.images{
  object-fit: cover;
  background: no-repeat;
  
}
.btn5{
    height: 40px;
    width: 110px;
    background-color: white;
    outline: none;
    border: none;
    color: yellowgreen;
    border-radius: 4px;
}
.btn5:hover{
    background-color: gray;
    color: white;
    outline: none;
    transition: 0.3s;

}