.banner-image {
    background-image: url('https://assets.gq.ru/photos/5d9f47da7fd1f9000820ed26/master/pass/GettyImages-461373553.jpg');
    background-size: cover;
    height: 100%;
  }

  body {
    background: #2a2e32;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;
  }
  
  
  /* ==========================================
      CUSTOM UTILS CLASSES
    ========================================== */
    body, html {
      height: 100%;
    }
    .fas{
      font-size: 32px;
  }
  .collection span{
      color: rgb(0, 0, 0);
      font-size: 19px;
      font-weight: 800;
      padding-left: 5px;
  }
  .card{
      border: none;
  }
  .collection input{
      position: absolute;
      height: 45px;
      width: 110px;
      background-color: rgb(202, 206, 194);
      color: white;
      border-radius: 5px;
      outline: none;
      border: none;
      text-align: center;
      top: 40%;
      left: 30%;
      opacity: 0;
  }
  .collection .card:hover input{
      opacity: 1;
      transition: 1s;
  }
  .collection input:hover{
      background-color: gray;
  }
  .text-center{
    color: white;
  }